.navbar-icon{
  font-size: 24px;
  display: block;
  text-align: center;
}
.brand-name{
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar-sercion{
  background-color:#091a49;
}
.card-img{
  background-color: #e2e8fc;
  padding: 30px 0 0;
  text-align: center;
  height:170px; overflow-y: hidden;

}
.assignment-card{transition: all 0.4s ease-in-out;}
.assignment-card .card-img img{max-width:150px; filter: drop-shadow(0 -5px 5px #0006); transform: rotate(-20deg);}
.assignment-card .card-body{
  padding: 20px;
  line-height: 1.2;
  color:#0007;
}
.assignment-card h3{font-size:24px; font-weight: 700; margin-bottom: 15px; color:#091a49;}
.assignment-card:hover{box-shadow:0 0 30px #091a4955; margin-top:-5px;}

.calculator-section{
  padding:40px 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.calculator-body {
  display: block;  
  border-radius:25px;
  padding:30px 20px 20px;
  width: 100%;
  background: rgb(255, 141, 1);
  transition: .6s ease;
}

.calculator-display {
  width: 100%;
  max-width: 100%;
  height: 80px;
  background: #ea8407;
  position: relative;
  display: grid;
  justify-items: flex-end;
  align-items: center;
  align-content: center;
  padding: 0px 3px;
  border-radius: 15px;
  border-right: 1px solid #ffb254;
    border-bottom: 1px solid #ffb254;
}

.calculator-display span {
  font-size: 2rem;
  color: #fff;
  letter-spacing: 4px;
  margin: 0 5px;
  text-align: right;
  height: calc(80px - 10px);
  align-content: center;
  width: calc(100% - 10px);
}

.calcuator-buttons {  
  height: 100%;
  padding: 15px 0;
}

.extra-btns-row {
  margin-bottom:10px;
}

.number-btns-row,
.extra-btns-group {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
}

.extra-btns-group span {
  display: grid;
  justify-items: center;
  align-items: center;
  color: white;
  cursor: pointer;
  background: #2c2c2c;
  border:none;
  border-radius: 15px;
  width: 100%;
  max-width: var(--max-width);
  height: 56px;
  --max-width: 60px;
  transition: 1s ease;
  box-shadow: 5px 5px 4px #0004;
  font-weight: 600;
}

.extra-btns-group span:not(.extra-btns-group span:last-child) {
  --max-width:102px;
}

.number-btns-row {
  width: 100%;
  gap: 10px;
}

.number-btns-row .number-btns-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  gap: 10px;
}

.number-btns-group span,
.operator-btns-group span {
  color: var(--color-text, black);
  text-align: center;
  width:102px;
  height: var(--height-btn);
  background: var(--bg-btn, #ffd5a0);
  align-content: center;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 1s ease;
  box-shadow:5px 5px 4px #0004;
  height: 56px;
  font-weight: 600;
}

.number-btns-group span:hover {
  background: var(--bg-btn, #eee);
}

.calcuator-buttons .btn-equal {
  --bg-btn: rgb(8, 134, 86);
  --color-text: white;
  border: 1px solid var(--bg-btn);
}

.calcuator-buttons .btn-equal:hover {
  --bg-btn: rgb(93, 174, 255);
}

.operator-btns-group {
  display: grid;
  height: 100%;
  width: 60px;
  justify-content: end;
  justify-items: center;
  gap: 10px;
}

.operator-btns-group span {
  width: inherit;
  --bg-btn: #2c2c2c;
  --color-text: white;
  --color-border: var(--bg-btn);
  font-size: 1.5rem;
}

.operator-btns-group span:hover,
.extra-btns-group span:hover {
  background: #181818;
}
.dtr-section {
  position: relative;
  background-image: url(images/white-shape-bg.png);
}
.dtr-section-with-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-blue {
  background-color: #1732a4 !important;
}
.dtr-hero-section-top-padding {
  padding-top: 70px;
}
.dtr-bottom-shape-img {
  background-image: url(images/hero-bottom.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center bottom;
}
.dtr-mb-minus50 {
  margin-bottom: -50px !important;
}
img {
  max-width: 100%;
}
.dtr-rounded-img,
.dtr-rounded-img img,
.dtr-rounded {
  border-radius: 10px;
}

.dtr-text-btn {
  padding: 15px 0;
  border: 0;
}
