.navbar-icon{
  font-size: 24px;
  display: block;
  text-align: center;
}
.brand-name{
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar-sercion{
  background-color:#091a49;
}
.card-img{
  background-color: #e2e8fc;
  padding: 30px 0 0;
  text-align: center;
  height:170px; overflow-y: hidden;

}
.assignment-card{transition: all 0.4s ease-in-out;}
.assignment-card .card-img img{max-width:150px; filter: drop-shadow(0 -5px 5px #0006); transform: rotate(-20deg);}
.assignment-card .card-body{
  padding: 20px;
  line-height: 1.2;
  color:#0007;
}
.assignment-card h3{font-size:24px; font-weight: 700; margin-bottom: 15px; color:#091a49;}
.assignment-card:hover{box-shadow:0 0 30px #091a4955; margin-top:-5px;}